<div class="my-4 flex items-center space-x-4">
  <p class="mr-4 w-28 text-xl">Buttons</p>
  <button
    class="flex h-11 w-auto min-w-[8rem] items-center justify-center rounded bg-primary px-4 py-2 text-base text-light drop-shadow-lg hover:bg-primary-dark dark:hidden">
    Primary
  </button>
  <button
    class="hidden h-11 w-auto min-w-[8rem] items-center justify-center rounded bg-inverted px-4 py-2 text-base text-dark drop-shadow-lg hover:bg-inverted-dark dark:flex">
    Inverted
  </button>
  <button
    class="flex h-11 w-auto min-w-[8rem] items-center justify-center rounded bg-dark-bright px-4 py-2 text-base text-light drop-shadow-lg hover:bg-dark-dull dark:hidden">
    Dark
  </button>
  <button
    class="hidden h-11 w-auto min-w-[8rem] items-center justify-center rounded bg-light-bright px-4 py-2 text-base text-dark drop-shadow-lg hover:bg-light-dull dark:flex">
    Light
  </button>
</div>
