<div class="my-4 flex items-center space-x-4">
  <p class="mr-4 w-28 text-xl">Links</p>
  <a
    href="#"
    class="inline text-base text-primary hover:text-primary-light hover:underline dark:hidden">
    Primary link
  </a>
  <a
    href="#"
    class="hover:text-inverted-bright hidden text-base text-inverted hover:underline dark:inline">
    Inverted link
  </a>
  <a
    href="#"
    class="inline text-base text-dark hover:text-dark-bright hover:underline dark:hidden">
    Dark link
  </a>
  <a
    href="#"
    class="hidden text-base text-light hover:text-light-bright hover:underline dark:inline">
    Light link
  </a>
</div>
