<div
  class="flex flex-col items-center space-y-2 px-4 py-6 even:bg-light-dull dark:even:bg-dark-dull sm:px-8 md:flex-row md:items-center md:justify-start md:space-y-0 md:space-x-8 md:px-16 lg:px-36">
  <p class="w-28 text-center text-xl md:text-left">Links</p>
  <a
    href="#"
    class="inline text-base text-primary hover:text-primary-light hover:underline dark:hidden">
    Primary link
  </a>
  <a
    href="#"
    class="hover:text-inverted-bright hidden text-base text-inverted hover:underline dark:inline">
    Inverted link
  </a>
  <a
    href="#"
    class="inline text-base text-dark hover:text-dark-bright hover:underline dark:hidden">
    Dark link
  </a>
  <a
    href="#"
    class="hidden text-base text-light hover:text-light-bright hover:underline dark:inline">
    Light link
  </a>
</div>
