<div
  class="flex flex-col items-center space-y-2 md:flex-row md:items-start md:justify-start md:space-y-0 md:space-x-8">
  <p class="w-28 text-center text-xl underline md:text-left">Headings</p>
  <div class="flex flex-col space-y-4 text-center md:text-left">
    <div class="flex flex-col space-y-4">
      <h1 class="text-5xl">Heading 1</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit
        nulla accusantium.
      </p>
    </div>
    <div class="flex flex-col space-y-2">
      <h2 class="text-4xl">Heading 2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit
        nulla accusantium.
      </p>
    </div>
    <div class="flex flex-col space-y-2">
      <h3 class="text-3xl">Heading 3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit
        nulla accusantium.
      </p>
    </div>
    <div class="flex flex-col space-y-2">
      <h2 class="text-4xl">Heading 4</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit
        nulla accusantium.
      </p>
    </div>
    <div class="flex flex-col space-y-2">
      <h5 class="text-xl font-bold">Heading 5</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit
        nulla accusantium.
      </p>
    </div>
    <div class="flex flex-col space-y-2">
      <h6 class="text-lg font-bold">Heading 6</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit
        nulla accusantium.
      </p>
    </div>
  </div>
</div>
