<div
  class="flex flex-col items-center space-y-2 md:flex-row md:items-start md:justify-start md:space-y-0 md:space-x-8">
  <p class="w-28 text-center text-xl underline md:text-left">Paragraph</p>
  <p class="text-justify text-base">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi
    repudiandae accusamus sunt facere at? Perspiciatis tempora, recusandae culpa
    quia reiciendis voluptates id. Nesciunt quos voluptatibus dignissimos!
    Voluptate quas recusandae aliquid! Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Excepturi repudiandae accusamus sunt facere at?
    Perspiciatis tempora, recusandae culpa quia reiciendis voluptates id.
    Nesciunt quos voluptatibus dignissimos! Voluptate quas recusandae aliquid!
  </p>
</div>
