---
---

{% assign primary_light = site.data.theme.colors.primary.light %}
{% assign primary_base = site.data.theme.colors.primary.base %}
{% assign primary_dark = site.data.theme.colors.primary.dark %}
{% assign inverted_light = site.data.theme.colors.inverted.light %}
{% assign inverted_base = site.data.theme.colors.inverted.base %}
{% assign inverted_dark = site.data.theme.colors.inverted.dark %}

@import "https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-light: {{ primary_light }};
    --color-primary-base: {{ primary_base }};
    --color-primary-dark: {{ primary_dark }};
    --color-inverted-light: {{ inverted_light }};
    --color-inverted-base: {{ inverted_base }};
    --color-inverted-dark: {{ inverted_dark }};
  }

  html {
    @apply font-sans;
  }
}
