<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

    <!--[if IE]>
      <style>
        p,
        ol,
        ul {
          width: 100%;
        }
        blockquote {
          width: 100%;
        }
      </style>
    <![endif]-->
  </head>
  <body>
    {{ content }}
  </body>
</html>
